{
  "extends": "fliplet",
  "globals": {
    "CodeMirror": "readonly",
    "Raven": "readonly",
    "spreadsheet": "readonly",
    "jsdoc": "readonly",
    "Handsontable": "readonly",
    "Papa": "readonly",
    "hot": "readonly"
  }
}